input.inpPass,.inpEmail{
    width: 545px;
    height: 59px;
    border: 1px solid hsla(220, 13%, 91%, 1);
    border-radius: 15px 15px;  
}
input.inpform{
    margin-bottom: 20px;
    background-color: #b1b1b1;
    max-width: 545px;
    height: 45px;
    color: black;
     min-width: 250px;
    border:  1px solid hsla(220, 13%, 91%, 1);
    border-radius: 15px; 
    
}
.divLogin{
    width: 700px;
    height: 700px;
    background-color: #1c1b1bf2;
    /* background-color: #704f30;  */

    border-radius: 40% 0% 40% 10%;
}
.sub-login{
    max-width: 546px;
    height: 49px;
    border-radius: 40px;
    /* background: hsla(44, 84%, 55%, 1); */
    background-color:#42050a;
    border: none;
    color: white;
}
body{
 /* background: black; */
    background: radial-gradient(ellipse at center, #4c331f, #000000,#88694d);

}
.login{
    background: radial-gradient(ellipse at center, #08000086, #000000);

}
 p{
    color: hsla(212, 9%, 66%, 1);
}
.signNow{
color:white;
 
}
